/* @import "tailwindcss"; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

:root {
   /* --font-sans: 'Inter', system-ui, sans-serif; */
   --font-sans: 'Montserrat Alternates', system-ui, sans-serif;
   --font-serif: 'Noto Serif', serif;
   --font-mono: 'Source Code Pro', monospace;
}

/* Apply fonts */
body {
   font-family: var(--font-sans);
}

/* h1,
h2,
h3 {
   font-family: var(--font-serif);
} */

code,
pre {
   font-family: var(--font-mono);
}

/* Hide scrollbar for Chrome, Safari and Edge */
.hide-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
   scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge (old) */
.hide-scrollbar {
   -ms-overflow-style: none;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-primary: var(--primary);
   --color-primary-foreground: var(--primary-foreground);
   --color-secondary: var(--secondary);
   --color-secondary-foreground: var(--secondary-foreground);
   --color-muted: var(--muted);
   --color-muted-foreground: var(--muted-foreground);
   --color-primary-dark: var(--primary-dark);
   --color-card: var(--card);
   --color-card-foreground: var(--card-foreground);
}

/* ========================
   Light Theme
======================== */

:root {
   --primary: #2b8a74;
   --primary-foreground: #ffffff;
   --background: #f5f7f6;
   --foreground: #1a2230;
   --secondary: oklch(0.97 0 0);
   --secondary-foreground: oklch(0.205 0 0);
   --muted: oklch(0.269 0 0);
   --muted-foreground: oklch(0.708 0 0);
   --primary-dark: #063798;
   --card: oklch(1 0 0);
   --card-foreground: oklch(0.145 0 0);
}

/* ========================
   Dark Theme
======================== */
.dark {
   --primary: #13ec46;
   --primary-foregound: #ffffff;
   --background: #0b0f17;
   --foreground: #ffffff;
   --secondary: oklch(0.269 0 0);
   --secondary-foreground: oklch(0.985 0 0);
   --muted: oklch(0.97 0 0);
   --muted-foreground: oklch(0.556 0 0);
   --primary-dark: #135bec;
   --card: #182131;
   /* --card: #101622; */
   /* --card: oklch(0.205 0 0); */
   --card-foreground: oklch(0.985 0 0);
}

